In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('C:/Users/jenli/Documents/DCM/Live vs Sales.csv')

In [6]:
df

     Live flag   Day of Date Blen  Distinct count of Id
0            0  December 21, 2020                    34
1            0  December 20, 2020                    23
2            0  December 19, 2020                    34
3            0  December 18, 2020                    44
4            0  December 17, 2020                    34
..         ...                ...                   ...
107          0  September 5, 2020                    45
108          0  September 4, 2020                   102
109          0  September 3, 2020                    68
110          0  September 2, 2020                    75
111          0  September 1, 2020                    83

[112 rows x 3 columns]

In [19]:
df['lagsales'] = df['Distinct count of Id'].shift(1)

In [20]:
df

     Live flag   Day of Date Blen  Distinct count of Id  lagsales
0            0  December 21, 2020                    34       NaN
1            0  December 20, 2020                    23      34.0
2            0  December 19, 2020                    34      23.0
3            0  December 18, 2020                    44      34.0
4            0  December 17, 2020                    34      44.0
..         ...                ...                   ...       ...
107          0  September 5, 2020                    45      33.0
108          0  September 4, 2020                   102      45.0
109          0  September 3, 2020                    68     102.0
110          0  September 2, 2020                    75      68.0
111          0  September 1, 2020                    83      75.0

[112 rows x 4 columns]

In [33]:
X = df['Live flag']
y = df['Distinct count of Id']

In [34]:
X.corr(y)

0.00571695262278182

In [37]:
df_cleaned = df.dropna().copy()

In [39]:
X = df_cleaned['Live flag']
y = df_cleaned['lagsales']

In [40]:
X.corr(y)

-0.01867165677067469

In [48]:
rvs1 = df_cleaned.loc[df_cleaned['Live flag'] == 1, 'lagsales']
rvs2 = df_cleaned.loc[df_cleaned['Live flag'] == 0, 'lagsales']

In [49]:
stats.ttest_ind(rvs1,rvs2, equal_var = False)

Ttest_indResult(statistic=-0.16982568418825655, pvalue=0.8694635178353965)

If we observe a large p-value, for example larger than 0.05 or 0.1, then we cannot reject the null hypothesis of identical average scores.